
@keyframes muter{
    0%
    {
        transform: rotate(0deg);
        border:1.5px solid red;border-left-color:transparent;border-right-color:transparent
    }
    25%
    {
        transform: rotate(90deg);
        border:1.5px solid green;border-top-color:transparent;border-bottom-color:transparent
    }
    75%
    {
        transform: rotate(180deg);
        border:1.5px solid blue;border-left-color:transparent;border-right-color:transparent
    }
    100%
    {
        transform: rotate(360deg);
        border:1.5px solid yellow;border-top-color:transparent;border-bottom-color:transparent
    }
}
.pImgB{
    border-radius: var(--braD);
    box-shadow:0 10px 25px -3px rgba(0,0,0,.1)
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    flex-shrink:0;
    padding:5px;
    width:40px;
    height:40px;
    animation:muter 15s infinite;
}

/* Turbo progress bar */
.turbo-progress-bar {
  height: 4px; /*ukuran progress bar*/
  background-color: red; /*warna progress bar*/
}

/* anti adblock by wendy code */
@-webkit-keyframes slide-down{0%{opacity:0;-webkit-transform:translateY(-100%)}100%{opacity:1;-webkit-transform:translateY(0)}}@keyframes slide-down{0%{opacity:0;transform:translateY(-100%)}100%{opacity:1;transform:translateY(0)}}
.wc-adblock-wrap.aktif{opacity:1;visibility:visible}
.wc-adblock-wrap{width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);z-index:99999;-webkit-backdrop-filter:blur(6px);backdrop-filter:blur(6px);opacity:0;visibility:hidden}
.wc-adblock-knt{width:100%;max-width:500px;position:relative;background:#fefefe;border-radius:10px;border:1px solid #eee;color:#262d3d;text-align:center;padding:35px;top:150px;margin:20px auto;box-shadow:0 10px 20px rgba(0,0,0,0.2);-webkit-animation:slide-down 2s ease-out;animation:slide-down 2s ease-out}
.wc-adblock-knt h2{margin-top:15px;font-size:17px}
svg.wc-adblock{fill:#e00000;width:50px;height:50px}

/* Copy Notif */
.tNtf span{position:fixed;left:24px;bottom:-70px;display:inline-flex;align-items:center;text-align:center;justify-content:center;margin-bottom:70px;z-index:9999;background:#323232;color:rgba(255,255,255,.8);font-size:14px;font-family:inherit;border-radius:3px;padding:13px 24px; box-shadow:0 5px 35px rgba(149,157,165,.3);opacity:0;transition:all .1s ease;animation:slideinwards 2s ease forwards;-webkit-animation:slideinwards 2s ease forwards}
.tNtf span i{content:''; width:14px;height:14px; display:inline-block;margin:0 5px;opacity:.8} .tNtf span i.check{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M22 11.08V12a10 10 0 1 1-5.93-9.14' /><polyline points='22 4 12 14.01 9 11.01' /></svg>") center / 14px no-repeat} 
.tNtf span i.warn{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><g transform='translate(2.500000, 3.000000)'><path d='M9.5,18 C3.00557739,18 0.456662548,17.5386801 0.0435259337,15.2033146 C-0.36961068,12.8679491 2.27382642,8.47741935 3.08841712,7.02846996 C5.81256986,2.18407813 7.66371927,0 9.5,0 C11.3362807,0 13.1874301,2.18407813 15.9115829,7.02846996 C16.7261736,8.47741935 19.3696107,12.8679491 18.9564741,15.2033146 C18.5443995,17.5386801 15.9944226,18 9.5,18 Z' /><line x1='9.5' y1='5.5' x2='9.5' y2='9.395' /><line x1='9.4957' y1='12.895' x2='9.5047' y2='12.895' /></g></svg>") center / 14px no-repeat}
.tNtf span i.copy{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><rect x='9' y='9' width='13' height='13' rx='2' ry='2' /><path d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1' /></svg>") center / 14px no-repeat} .tNtf span i.clipboard{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2' /><rect x='8' y='2' width='8' height='4' rx='1' ry='1' /></svg>") center / 14px no-repeat}
.tNtf span i.onCloud{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z' /></svg>") center / 14px no-repeat} .tNtf span i.offCloud{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M22.61 16.95A5 5 0 0 0 18 10h-1.26a8 8 0 0 0-7.05-6M5 5a8 8 0 0 0 4 15h9a5 5 0 0 0 1.7-.3' /><line x1='1' y1='1' x2='23' y2='23' /></svg>") center / 14px no-repeat} 
.tNtf span i.onWifi{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M5 12.55a11 11 0 0 1 14.08 0' /><path d='M1.42 9a16 16 0 0 1 21.16 0' /><path d='M8.53 16.11a6 6 0 0 1 6.95 0' /><line x1='12' y1='20' x2='12.01' y2='20' /></svg>") center / 14px no-repeat} 
.tNtf span i.offWifi{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='1' y1='1' x2='23' y2='23' /><path d='M16.72 11.06A10.94 10.94 0 0 1 19 12.55' /><path d='M5 12.55a10.94 10.94 0 0 1 5.17-2.39' /><path d='M10.71 5.05A16 16 0 0 1 22.58 9' /><path d='M1.42 9a15.91 15.91 0 0 1 4.7-2.88' /><path d='M8.53 16.11a6 6 0 0 1 6.95 0' /><line x1='12' y1='20' x2='12.01' y2='20' /></svg>") center / 14px no-repeat}
@media screen and (max-width:500px){.tNtf span{margin-bottom:70px;left:20px;right:20px;font-size:13px}}
@keyframes slideinwards{0%{opacity:0}20%{opacity:1;bottom:0}50%{opacity:1;bottom:0}80%{opacity:1;bottom:0}100%{opacity:0;bottom:-70px;visibility:hidden}}
@-webkit-keyframes slideinwards{0%{opacity:0}20%{opacity:1;bottom:0}50%{opacity:1;bottom:0}80%{opacity:1;bottom:0}100%{opacity:0;bottom:-70px;visibility:hidden}}
.drK .tNtf span{box-shadow:0 10px 40px rgba(0,0,0,.2)}

/* profile post*/
.line svg{width:20px;height:20px;opacity:.8;z-index:1} .line .pIc .cmnt::before{content:attr(data-text);font-size:11px;line-height:18px;padding:5px;border-radius:10px;background:#e6e6e6;color:var(--bodyC);position:absolute;top:-5px;right:0;z-index:2;border-radius:10px;background:#e6e6e6;color:var(--bodyC);animation:indicator 4s ease infinite;-webkit-animation:indicator 1s ease infinite}

  /* Select */
select {
  flex: 1;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 30px;
  border-radius: var(--braD);
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transition: .25s all ease;
  pointer-events: none;
  border-radius: var(--braD);
}

/* Input Style */
input[type=range] {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  height: 35px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background: linear-gradient(90deg, #cccccc 1px, rgba(238, 238, 238, 0) 1px) repeat-x content-box, linear-gradient(90deg, #cccccc 1px, rgba(238, 238, 238, 0) 1px) repeat-x content-box;
  background-size: 25% 6px, calc(100% - 5px) 12px;
  background-position: 1px 30%, 1px 20%;
  padding: 0 15px;
  overflow: visible;
  /*******    The Thumb    *******/
  /*******    The Track    *******/
}
input[type=range]::-webkit-slider-thumb {
  position: relative;
  height: 7px;
  width: 7px;
  transform: scale(3);
  margin-top: -1px;
  border-radius: 500px;
  background: #009fdf;
  border: 0;
  cursor: pointer;
  z-index: 2;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  position: relative;
  height: 7px;
  width: 7px;
  transform: scale(3);
  margin-top: -1px;
  border-radius: 500px;
  background: #009fdf;
  border: 0;
  cursor: pointer;
  z-index: 2;
}
input[type=range]::-ms-thumb {
  position: relative;
  height: 7px;
  width: 7px;
  transform: scale(3);
  margin-top: -1px;
  border-radius: 500px;
  background: #009fdf;
  border: 0;
  cursor: pointer;
  z-index: 2;
  transform: none;
  margin-top: -2px;
  height: 21px;
  width: 21px;
  border-radius: 21px;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: #545454;
  height: 5px;
  border-radius: 3px;
}
input[type=range]::-moz-range-track {
  background-color: #545454;
  height: 5px;
  border-radius: 3px;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background-color: #545454;
  height: 5px;
  border-radius: 3px;
  background-color: #009fdf;
}
input[type=range]::-ms-fill-upper {
  background-color: #545454;
  height: 5px;
  border-radius: 3px;
}
input[type=range]:focus {
  outline: none;
}

/*******    The wrapper for the range input    *******/
.range-box {
  position: relative;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0 35px;
  overflow: visible;
}
.range-box:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #b3b3b3;
  height: 4px;
}
.range-box .legend-min {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #cccccc;
  margin-top: -18px;
  float: left;
  margin-left: 13px;
}
.range-box .legend-max {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #cccccc;
  margin-top: -18px;
  float: right;
  margin-right: 11px;
}

/*******    Extra controls on the side    *******/
.no-selection, .control-plus, .control-minus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-minus {
  position: absolute;
  top: 0;
  background-color: #009fdf;
  color: white;
  width: 35px;
  text-align: center;
  cursor: pointer;
  height: 35px;
  border-bottom: 4px solid #0073a1;
  z-index: 1;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  left: -35px;
  line-height: 31px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.control-minus:hover {
  top: 1px;
  background-color: #00adf2;
  border-bottom-width: 3px;
}
.control-minus:active {
  top: 3px;
  background-color: #009fdf;
  border-bottom-width: 2px;
}

.control-plus {
  position: absolute;
  top: 0;
  background-color: #009fdf;
  color: white;
  width: 35px;
  text-align: center;
  cursor: pointer;
  height: 35px;
  border-bottom: 4px solid #0073a1;
  z-index: 1;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  right: -35px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.control-plus:hover {
  top: 1px;
  background-color: #00adf2;
  border-bottom-width: 3px;
}
.control-plus:active {
  top: 3px;
  background-color: #009fdf;
  border-bottom-width: 2px;
}

/*******    Value tooltip    *******/
.current-value {
  visibility: hidden;
  background: #009fdf;
  border-radius: 3px;
  position: absolute;
  top: -48px;
  padding: 12px 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 22px;
  white-space: nowrap;
  transition: left 0.045s linear;
}
.current-value:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #009fdf;
  margin-top: -6px;
  margin-left: -6px;
  bottom: -5px;
}
