
@keyframes muter{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.pImgB{
    border:1px solid blue;
    border-radius:50%;
    box-shadow:5px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 35px;
    height: 35px;
    border-radius: 8px;
}
